In [1]:
import pandas as pd
import requests
import polygon

In [2]:
api_key = "c1LVL_w5bcBEXIfWB_jEPqyDJGirPl3Q"

In [3]:
stocks_client = polygon.StocksClient(api_key)

previous_close = stocks_client.get_previous_close('AAPL')

print(previous_close)

AttributeError: module 'polygon' has no attribute 'StocksClient'

In [ ]:
print(type(previous_close))

<class 'dict'>

In [ ]:
df = pd.DataFrame(previous_close)

In [ ]:
df

,ticker,queryCount,resultsCount,adjusted,results,status,request_id,count
0,AAPL,1,1,True,"{'T': 'AAPL', 'v': 71051552.0, 'vw': 137.4774,...",OK,0309853e659267ee3ba6094f8055427e,1

In [ ]:
df([0]['vw'])

<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\travi\AppData\Local\Temp\ipykernel_8796\351936472.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  df([0]['vw'])
C:\Users\travi\AppData\Local\Temp\ipykernel_8796\351936472.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  df([0]['vw'])
C:\Users\travi\AppData\Local\Temp\ipykernel_8796\351936472.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  df([0]['vw'])

TypeError: list indices must be integers or slices, not str

In [ ]:
df

,ticker,queryCount,resultsCount,adjusted,results,status,request_id,count
0,AAPL,1,1,True,"{'T': 'AAPL', 'v': 71051552.0, 'vw': 137.4774,...",OK,0309853e659267ee3ba6094f8055427e,1