In [18]:
import pandas as pd
import yfinance as yf
from pandas_datareader import data as pdr

In [20]:

pdr.get_data_yahoo("AAPL", start="2022-1-13", end="2022-7-13")

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-01-13,176.619995,171.789993,175.779999,172.190002,84505800.0,171.718597
2022-01-14,173.779999,171.089996,171.339996,173.070007,80440800.0,172.596207
2022-01-18,172.539993,169.410004,171.509995,169.800003,90956700.0,169.335144
2022-01-19,171.080002,165.940002,170.000000,166.229996,94815000.0,165.774902
2022-01-20,169.679993,164.179993,166.979996,164.509995,91420500.0,164.059631
...,...,...,...,...,...,...
2022-07-07,146.550003,143.279999,143.289993,146.350006,66253700.0,146.350006
2022-07-08,147.550003,145.000000,145.259995,147.039993,64493200.0,147.039993
2022-07-11,146.639999,143.779999,145.669998,144.869995,63141600.0,144.869995
2022-07-12,148.449997,145.050003,145.759995,145.860001,77588800.0,145.860001
2022-07-13,146.449997,142.119995,142.990005,145.490005,71185600.0,145.490005